<%- model_class = Message -%>

<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => 'New message') %></h1>
</div>

<%= render 'form' %>
