# Ignore bundler config
/.bundle

# Ignore the default SQLite database
/db/*.sqlite3

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Projects and things
*.komodoproject
*.tmproj
*.tmproject
tmtags
/*.sublime-project

# OS X
.DS_Store*
.Trashes
.Spotlight-V100
._*

# Linux
.directory
*~

# Windows
Thumbs.db
ehtumbs.db
Desktop.ini

# In case we had Mercurial...
/.hg/*
*/.hg/*
.hgignore
